/vendor
/node_modules
/.git
/.idea
/.vscode
/.env
.env.*
!/.env.docker
!.env.example
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
*.log
*.cache
.DS_Store
Thumbs.db
*.sql
*.sqlite
